html {
    background: white;
    font-family: 'Domine';
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1.0em;
}

a {
    color: #589;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* The whole page container, nothing goes outside of this */
.page {
    margin: 1em;
}

/* Large title at the top of the page */
.title {
    font-family: 'Abril Fatface';
    font-size: 1.6em;
    text-align: center;
    background: #fff;
    color: #000;
    margin-bottom: 0.5em;
}

/* Small menu of links below the title */
.menu {
    text-align: center;
    margin-bottom: 1.0em;
}

.menu a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
}

/* Front page bricks */
.brick {
    width: 100%;
    margin-bottom: 1%;
    height: 80px;
    float: left;
    background-size: cover;
    background-position: center center;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
}

.brick:hover {
    box-shadow: 0px 0px 10px #aaa;
}

.brick-title {
    font-family: 'Abril Fatface';
    padding: 0.0em 0.3em 0.1em 0.3em;
    display: inline-block;
    font-size: 1.3em;
    color: white;
    background: black;
    border-radius: 3px 0px 3px 0px;
    /* text-shadow: 1px 1px 3px #000; */
}

.section {
    clear: both;
}

.space {
    clear: both;
    height: 2.5em;
}

hr {
    border: 0.5px dashed black;
    clear: left;
}

.work-section-hr {
    margin-bottom: 1em;
}

/* Container for content on "work" pages */
.work {
    margin-top: 2em;
}

.work-left-side {
    width: 100%;
}

.work-left-side hr {
    clear: left;
}

.work-description {
    width: 100%;
    /* float: left; */
    display: inline-block;
}

.main-illustration {
    width: 100%;
}

.official-site {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0em 0em;
    font-size: 1.5em;
    font-family: 'Abril Fatface';
    margin: 0.5em 0em 1em 0em;
}

.info-item {
    float: left;
    clear: left;
    text-align: left;
    padding-top: 0.5em;
    margin-bottom: 1.0em;
}

.info-header {
    font-size: 1.0em;
    font-variant: small-caps;
    margin-bottom: 0.3em;
}

.info-body {
    font-size: 1.8em;
    font-family: 'Abril Fatface';
    display: inline-block;
}

/* Container for content on "article" pages */
.article {
    margin-top: 2em;
    min-height: 100px;
}

.article-illustration {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0em;
    display: inline-block;
}

/* Container for content on "note" pages (short articles that look bad with article layout) */
.note {
    margin: auto;
    max-width: 500px;
    margin-top: 2em;
}

.note-illustration {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1em;
    display: inline-block;
}

/* Email footer */
.email-footer {
    text-align: center;
    color: gray;
    font-size: 1.3em;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
    color: black;
    clear: both;
    padding: 0em;
}
