html {
    background: white;
    font-family: 'Domine';
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
}

p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1.0em;
}

/* The whole page container, nothing goes outside of this */
.page {
    margin: 1em;
}

/* Large title at the top of the page */
.title {
    font-family: 'Abril Fatface';
    font-size: 1.6em;
    text-align: center;
    background: #fff;
    color: #000;
    margin-bottom: 0.5em;
}

/* Small menu of links below the title */
.menu {
    text-align: center;
    margin-bottom: 1.0em;
}

.menu a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
}

/* Front page bricks */
.brick {
    width: 100%;
    margin-bottom: 1%;
    height: 120px;
    float: left;
    background-size: cover;
    color: #000;
    text-decoration: none;
}

.brick:hover {
    box-shadow: 3px 3px 3px #ccc;
}

.brick-title {
    font-family: 'Abril Fatface';
    padding: 0.1em;
    font-size: 1.5em;
    color: black;
    margin: 5px;
    text-shadow: 1px 1px 3px #000;
}

/* Container for content on "work" pages */
.work {
    margin-top: 2em;
}

.work-description {
    width: 100%;
}

.main-illustration {
    width: 100%;
}

/* Container for content on "article" pages */
.article {
    margin-top: 2em;
}
