.page {
    margin: 2em 4em;
}

.title {
    font-size: 3.4em;
}

.menu {
    margin-bottom: 2.0em;
}

.brick {
    height: 120px;
    width: 32%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.brick-title {
    font-size: 1.75em;
}

.work-description {

}

.main-illustration {

}

.article {
    column-count: 3;
}

.info-item {
    width: 50%;
    margin-right: 0%;
    float: left;
    clear: none;
}

.info-header {

}

.info-body {
    font-size: 1.8em;
}

.needs-own-line-on-large {
    clear: left;
}

.official-site {
    font-size: 2em;
}

hr {
    margin-right: 30px;
}
