.page {
    margin: 2em 4em;
}

.title {
    font-size: 3.5em;
}

.menu {
    margin-bottom: 2.0em;
}

.brick {
    width: 32%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.main-illustration {
    float: right;
    width: calc(100% - 600px);
}

.work-description {
    max-width: 500px;
}

.article {
    column-count: 2;
}
