---
layout: main
title: Work
---

{% include title.html %}
{% include menu.html %}

<div class="section">
  <h2>Digital Games</h2>
  <hr class="work-section-hr">
  {% for post in site.tags['major-digital'] %}
  {% include brick.html %}
  {% endfor %}
</div>

<div class="space"></div>
<div class="section">
  <h2>Analog Games</h2>
  <hr class="work-section-hr">
  {% for post in site.tags['major-analog'] %}
  {% include brick.html %}
  {% endfor %}
</div>

<div class="space"></div>
<div class="section">
  <h2>Game Jam Games</h2>
  <hr class="work-section-hr">
  {% for post in site.tags['jam'] %}
  {% include brick.html %}
  {% endfor %}
</div>

<div class="space"></div>
<div class="section">
  <h2>Programming</h2>
  <hr class="work-section-hr">
  {% for post in site.tags['programming'] %}
  {% include brick.html %}
  {% endfor %}
</div>

<div class="space"></div>
<div class="section">
  <h2>Events</h2>
  <hr class="work-section-hr">
  {% for post in site.tags['event'] %}
  {% include brick.html %}
  {% endfor %}
</div>
