html {
	/* This makes the border grow inwards (sane) – yay! */
}

body {
	font-family: "Montserrat", sans-serif;
	background: url("../img/bg1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	line-height: 1.4em;
}

h1 {
	font-family: "Rock Salt", cursive;
	font-size: 220%;
	font-weight: bolder;
	text-align: center;
	margin: 0px auto 0px auto;
	background-color: rgb(240, 240, 240);
	border-radius: 3px;
	padding: 20px;
	box-shadow: 5px 5px 15px #BBB;
	line-height: 1.5em;
}

h2 {
	font-size: 130%;
	margin-bottom: 15px;
}

div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.content {
	max-width: 600px;
	margin: 0px auto 20px auto;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 3px;
	padding: 10px;
}

.content:first-child {
	margin-top: 50px;
}

.content:last-child {
	margin-bottom: 50px;
}

.credits {
	max-width: 250px;
	text-align: center;
}

.section {
	/*border: dotted 1px black;*/
	background-color: rgb(240, 240, 240);
	margin-top: 10px;
	border-radius: 3px;
	padding: 15px;
	box-shadow: 5px 5px 15px #BBB;
	
	transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
}

.section:first-child {
	margin-top: 0px;
}

.section:hover {
	/*background: radial-gradient(rgb(255, 255, 255), rgb(200, 200, 200));*/
	background-color: rgb(245, 255, 250);
}

a {
	color: rgb(50, 50, 50);
	padding: 3px;
	background-color: rgb(230, 200, 200);
	text-decoration: none;
}

a:visited {
	background-color: rgb(210, 210, 210);
}

a:hover {
	background-color: rgb(230, 150, 150);
}

