<!DOCTYPE HTML>

<html>
  <header>
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Bitter|Domine|Volkhov|Shrikhand|Playball|Titan+One|Boogaloo|Righteous|Unica+One|Abril+Fatface" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/large.css" media="all and (min-width: 800px)">

  </header>
  <body>
    <div class="page">
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="copyright">
      &copy; Erik Svedäng MMXVIII
    </div>
  </body>
</html>
