<!DOCTYPE HTML>

<html>
  <header>
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Domine|Abril+Fatface" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/mid.css" media="all and (min-width: 700px)">
    <link rel="stylesheet" type="text/css" href="/css/large.css" media="all and (min-width: 1200px)">

    <script>
      function gotoOldWebsite() {
      var pathArray = location.href.split( '/' );
      var sum = ""
      if(pathArray.length > 3) {
        for(i = 3; i < pathArray.length; i++) {
          sum += pathArray[i] + "/";
        }
      }
      var url = "https://eriksvedang.wordpress.com/" + sum;
      var win = window.open(url, '_blank');
      win.focus();
      }
    </script>

  </header>
  <body>
    <div class="page">
      <div class="content">
        {{ content }}
      </div>
    </div>
    <div class="copyright">
      &copy; Erik Svedäng MMXXIII
    </div>
  </body>
</html>
