---
layout: main
---

{% include title.html %}

<div class="menu">
  <a href="/">← www.eriksvedang.com</a>
</div>

<div class="work">

  <div class="work-right-side">

    {% if page.image %}
    <img class="main-illustration" src='/img/{{page.image}}'>
    {% endif %}
  </div>

  <div class="work-left-side">

    <div class="info-item">
      <div class="info-header">Released</div>
      <div class="info-body">{{page.released}}</div>
    </div>

    <div class="info-item">
      <div class="info-header">Platforms</div>
      <div class="info-body">{{page.platforms}}</div>
    </div>

    <!-- <div class="info-item"> -->
    <!--   <div class="info-header">Available from</div> -->
    <!--   <a href="{{page.available-link}}"><div class="info-body">{{page.available}}</div></a> -->
    <!-- </div> -->

    {% if page.official-site %}
    <div class="info-item needs-own-line-on-large">
      <div class="info-header">Official Site</div>
      <a class="info-body" href="http://{{page.official-site}}">{{page.official-site}}</a>
    </div>
    {% endif %}

    <hr>

    <div class="work-description">
      {{content}}
    </div>

  </div>

</div>
