---
layout: main
---

{% include title.html %}

<div class="menu">
  <a href="/">← www.eriksvedang.com</a>
</div>

<div class="work">

  {% if page.image %}
  <img class="main-illustration" src='/img/{{page.image}}'>
  {% endif %}

  <div class="work-left-side">

    <div class="info-item">
      <div class="info-header">Released</div>
      <div class="info-body">{{page.released}}</div>
    </div>

    <div class="info-item">
      <div class="info-header">Platforms</div>
      <div class="info-body">{{page.platforms}}</div>
    </div>

    <div class="info-item">
      <div class="info-header">Available from</div>
      <a href="{{page.available-link}}"><div class="info-body">{{page.available}}</div></a>
    </div>

    <!-- <div class="info-item"> -->
    <!--   <div class="info-header">My role</div> -->
    <!--   <div class="info-body">Designer</div> -->
    <!-- </div> -->

    <!-- <div class="info-item"> -->
    <!--   <div class="info-header">Collaborators</div> -->
    <!--   <div class="info-body">Daduk (Music)</div> -->
    <!-- </div> -->

    <!-- <div class="info-item"> -->
    <!--   <div class="info-header">Collabor</div> -->
    <!--   <div class="info-body">Daduk</div> -->
    <!-- </div> -->


    <hr>

    {% if page.official-site %}
    <a class="official-site" href="http://{{page.official-site}}">{{page.official-site}}</a>
    {% endif %}

    <div class="work-description">
      {{content}}
    </div>

  </div>

</div>
